<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Login</h4>
        </div>
        <div class="card-body">
            @if (mensagemErro) {
            <div class="alert alert-danger" role="alert">
                {{ mensagemErro }}
            </div>
            }
            @if (mensagemSucesso) {
            <div class="alert alert-success" role="alert">
                {{ mensagemSucesso }}
            </div>
            }
            <form (ngSubmit)="login()">
                <div class="mb-3">
                    <label for="login" class="form-label">E-mail ou Nome de Usuário</label>
                    <input type="text" class="form-control" id="login" [(ngModel)]="credenciais.login" name="login"
                        required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" [(ngModel)]="credenciais.senha" name="senha"
                        required>
                </div>
                <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i> Entrar</button>
                <a class="btn btn-link ms-2" routerLink="/cadastro"><i class="bi bi-person-plus"></i> Criar uma
                    conta</a>
            </form>
        </div>
    </div>
</div>