<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-dark border-right" id="sidebar-wrapper" style="width: 250px;">
    <div class="sidebar-heading text-white p-3">
      <a class="navbar-brand fw-bold text-white" href="/">📦 UPX V</a>
    </div>
    <div class="list-group list-group-flush">
      <a routerLink="/home" class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-house-door me-2"></i>Home
      </a>
      <a routerLink="/consumable" class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-box me-2"></i>Consumíveis
      </a>
      <a routerLink="/patrimony" class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-building me-2"></i>Patrimônio
      </a>
      <a routerLink="/tags" class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-tags me-2"></i>Tags
      </a>
      <a routerLink="/statuses" class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-ui-checks me-2"></i>Status
      </a>
      <a routerLink="/units" class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-rulers me-2"></i>Unidades
      </a>
    </div>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper" class="flex-grow-1 p-5">
    <router-outlet></router-outlet>
  </div>
</div>