<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Bem-vindo ao Sistema de Gestão de Estoque</h4>
        </div>
        <div class="card-body">
            <p>Gerencie os suprimentos e equipamentos do seu perfil.</p>
            <a class="btn btn-primary" routerLink="/produtos"><i class="bi bi-list"></i> Ver Lista de Produtos</a>
            <a class="btn btn-success ms-2" routerLink="/produto/novo"><i class="bi bi-plus"></i> Novo Produto</a>
        </div>
    </div>
</div>